#Whatwedo{
    border:none;
    display:block;
    margin:auto;
}

#form{
   /*
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin-top:200px;
    margin-left: 100px;

}

header{
    width:100%;
}

#nav-bar{
    position:fixed;
    top:0;
    width:100%;
    background-color: white;
}

.nav-link{
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px; 
    text-decoration:none;
    font-family:Rubik, Roboto;
    color:black;
}

.nav-link:hover{
    background-color: #d9d9d9;
}

#submit{
    border:none;
    padding : 9px;
    font-family:Rubik, Roboto;
    cursor:pointer;
    background-color:#fca600;
    font-size:24px;
    margin-top:10px;
    width:306px;
    color:white;
}

#submit:hover{
    background-color: #e86c2a;
}

#Testimonials{
    font-family:Rubik, Roboto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

#header-img{
    width: 100%; 
    height: auto;
    float:left;
    text-align:center;
    margin:10px 0px 0px 10px;
}
#imgcont{
    width: 46px;
    background-color: red;
}

input{
    padding:10px;
    font-size: 16px;
    margin-top:10px;
}

.test{
    font-family:Rubik, Roboto;
    font-size:20px;
    padding:10px;
    width:310px;
    margin:10px;
    text-align: center;
    background-color:#eee;
    margin-top:30px;
}

.test img{
    display:block;
    margin:auto;
    margin-top:-50px;
}

.test span{
    font-size:25px;
    font-weight: bold;
}

.icon{
    width:125px;
    margin:20px;
}

h1{
    font-family:Rubik, Roboto;
    text-align:center;
    font-size: 34px;
}

h2{
    font-family:Rubik, Roboto;
    font-size:20px;
    font-weight: normal;
  /*  text-align:center; */
}


#accroche{
    font-family:Rubik, Roboto;
    font-size: 50px;
    text-align: left;
    margin-top:200px;
}

.feat{
    font-family:Rubik, Roboto;
    padding:10px;
    width:310px;
    margin:10px;
    text-align: center;
    margin-bottom: 100px;
}

#Features{
    font-family:Rubik, Roboto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.anchor { padding-top: 90px; }

#flex1{
    font-family:Rubik, Roboto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height:700px;
    background-size:cover;
    background-position:right bottom;
    /* width:100vw; */
    overflow: hidden;
}

#div1{
    width:500px;
    margin-left: -100px;
}

html,body {
    margin:0;
    padding:0;
    background-image: url("pattern.png");
    margin-bottom:100px;
}

#Testimonialsh1{
    margin-bottom:100px;
}