#Whatwedo{
    border:none;
    display:block;
    margin:auto;
}

header{
    width:100%;
}

#nav-bar{
    position:fixed;
    top:0;
    width:100%;
    background-color: white;
    z-index:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-align: center;
    padding: 14px 16px; 
    text-decoration:none;
    font-family:Rubik, Roboto;
    color:black;
}

#home{
    width: 46px;
}

#links{
    display:flex;
}

.nav-link:hover{
    background-color: #d9d9d9;
}

#submit{
    border:none;
    padding : 10px;
    font-family:Rubik, Roboto;
    cursor:pointer;
    background-color:#fca600;
    font-size:24px;
    margin-top:10px;
    width:80%;
    color:white;
    border-radius: 4px;
    max-width:350px;
}

#submit:hover{
    background-color: #ff8928;
}


#Testimonials{
    font-family:Rubik, Roboto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

#header-img{
    width: 100%; 
    height: auto;
    float:left;
    text-align:center;
    margin:10px 0px 0px 10px;
}


input{
    padding:10px;
    font-size: 16px;
    margin-top:10px;
}

.test{
    font-family:Rubik, Roboto;
    font-size:20px;
    padding:10px;
    width:453px;
    margin:10px;
    text-align: center;
    background-color:#6B7A8F;
    margin-top:60px;
}

.test img{
    display:block;
    margin:auto;
    margin-top:-50px;
}

.test span{
    font-size:25px;
    font-weight: bold;
}

.icon{
    width:125px;
    margin:20px;
    margin-bottom:50px;
}

h1{
    font-family:Rubik, Roboto;
    text-align:center;
    font-size: 34px;
    padding:60px 20px;
}

h2{
    font-family:Rubik, Roboto;
    font-size:20px;
    font-weight: normal;
    padding:10px;
    text-align:left; 
}


#accroche{
    font-family:Rubik, Roboto;
    font-size: 50px;
    text-align: left;
    padding:10px;
    margin:0;
}

video {
    max-width: 100%;
    height: auto;
    padding-bottom:50px;
  }

.feat{
    font-family:Rubik, Roboto;
    text-align: center;
    margin:10px;
    padding:10px;
    width:443px;
}

#Features{
    font-family:Rubik, Roboto;
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:50px;
}


#background1{
    background-color: #6B7A8F;
}

#flex1{
    font-family:Rubik, Roboto;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url("images/background1.jpg");
    background-repeat: no-repeat;
    height:100vh;
    background-size:cover;
    background-position:right bottom;
    overflow: hidden;
}

#div1{
    width:33%;
    position:relative;
    z-index: 0;
    padding:20px;
    border-radius: 10px;;
    color:white;
    max-width:700px;
}


#form{
    text-align:center; 
 }

html,body {
    margin:0;
    padding:0;
    background-image: url("images/pattern.png");
    margin-bottom:50px;
}

.avatar{
    width:90px;
}

input[type=email]{
    width:80%;
    box-sizing: border-box;
    border-radius: 4px;
    border:none;
    max-width:350px;
}

@media only screen and (max-width: 400px) {
    #div1 {
        width:80%;
    }

    #accroche{
        font-size:2rem;
        text-align:center;
    }

    h2{
        font-size:1rem;
        text-align:center;
    }

    .nav-link{
        padding: 15px 5px;
    }


    header{
        margin-bottom: 30px;
    }

    .anchor{
        padding-top:100px;
        padding-bottom: 100px;
    }
}
@media only screen and (min-width: 400px) {
    #div1 {
        width:80%;
    }

    #accroche{
        font-size:2rem;
        text-align:center;
    }


    h2{
        font-size:1rem;
        text-align:center;
    }
}

@media only screen and (min-width: 768px) {

    #div1 {
        width:50%;
    }

    input[type=email]{
        width:60%;
    }

    #submit{
        width:60%;
    }
    #accroche{
        font-size:2.5rem;
    }
    
    h2{
        font-size:1.5rem;
    }
}

@media only screen and (min-width: 992px) {

    #accroche{
        font-size:3rem;
    }
    
    h2{
        font-size:2rem;
    }
}
